*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

section{
    background-color: white;
    width: 1200px;
    margin: auto;
   
    
}

h1{
    text-align: center;
    color: red;
    margin-bottom: 10px;
}
h3{
    text-align: center;
    margin-bottom: 5px;
}

body p{
    text-align: center;
    margin-bottom: 15px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.container > div {
   
    margin: 20px;
    width: 250px;
    

}

.container > div p {
    text-align: justify;
}

summary{
    color: blue;
    cursor: pointer;  
    margin-bottom: 5px; 
}