h1{
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana;
    letter-spacing: 4px;
    background-color: yellow;
    color: green;
    margin-bottom: 2px  ;
}
p{
    background-color: rgb(224, 224, 224);
    font-size: 18px;
    color: green;
    line-height: 2em;
    font-style: italic;
    font-family: Tahoma;
    text-align: center;
}