
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #754415;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}


.img {
    width: 200px;        
    margin-bottom: 20px; 
    display: block;
}


.container {
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    text-align: center;
}


h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    color: #fff;
}


input {
    width: 230px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
    margin-bottom: 15px;
}


label {
    display: block;
    text-align: left;
    width: 230px;
    margin: 0 auto 5px auto;
    color: #fff;
    font-weight: bold;
}


button {
    width: 110px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 5px;
    transition: 0.2s;
}

#btnEntrar {
    background-color: #f1c40f;
}

#btnCadastrar {
    background-color: #3498db;
    color: #fff;
}

button:hover {
    transform: scale(1.05);
}
